body {
    background-color:green;
   }
.center {
    text-align: center;
    border: 3px solid purple;
      }
.new-game-button{
    border:none;
    padding: 10px 30px;
    border-radius:10px;
    cursor:pointer;
    }      