body {
    text-align: center;
    padding: 70px;
    height: 300px;
    background-color: rgb(3, 61, 3);
    border: 1px solid black;
}

h2 {
    color: rgb(243, 202, 19);
}

button {
 background-color:blue;
 padding: 10px;
 font-size:large;
}
button:hover {
    background-color: burlywood;
}
.Dealer {
    font-size: larger;
}
.Player {
    font-size: larger;
}


  